# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.mo

# Environment / Virtualenv
.env
venv/
env/
.venv/
ENV/
*.sqlite3-journal

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
