{% extends "blog/base.html" %}
{% block page_header %}
<div class="mt-4 p-5 bg-dark text-white rounded">
    <h1 class="display-4">NoteFlow</h1>
    <p class="lead">This app is used to record and track the progress of various activities over time</p>
    {% if user.is_authenticated %}
        <a class="btn btn-light" href="{% url 'blog:new_post' %}">Add new thread</a>
    {% else %}
        <p class="lead">Only logged in users can use the functionality of this website</p>
        <a class="btn btn-secondary" href="{% url 'accounts:login' %}">Log in</a>
        <a class="btn btn-secondary" href="{% url 'accounts:register' %}">Register</a>
    {% endif %}

</div>
{% endblock page_header %}

{% block content %}
    <h4>List of threads:</h4>
    <ul class="list-group ps-2">
        {% for post in posts %}
            <div class="card">
                <div class="card-body bg-dark text-white rounded">
                    <h5 class="card-title">{{post.text}}</h5>
                    <a href="{% url 'blog:post' post.id %}" class="btn btn-light">View thread</a>
                    {% if user.is_authenticated and user == post.owner %}
                        <form method="post" action="{% url 'blog:delete_post' post.id %}" class="d-inline mt-2" onsubmit="return confirm('Delete this post?');">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Delete post</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <p>There is no thread yet</p>
        {% endfor %}
    </ul>
{% endblock content %}